/* #0 Resources Imports */


/* #0.1 Fonts */

@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap')
/*Electro Font*/

;
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Inter:wght@300;400;700;800&display=swap');

/*Inter font*/


/* #1 General Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 1rem 0 1rem;
    width: 100vw;
    max-width: 100vw !important;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background: #002B38;
    color: aliceblue;
}


/* #2 Variables */

html {
    --main-font-color: rgba(245, 245, 245, 0.6);
    --main-palette-color: #002B38;
    /*--main-palette-color: #f8ede3;*/
    --secondary-palette-color: /*#F5F5F5*/
    #f67e7d;
    --btn-color: /*#6369D1*/
    #f67e7d;
}


/* #3 Containers */

.large-container-flex {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.medium-container-flex {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/* #4 Header Section */

header {
    background: var(--main-palette-color);
    color: var(--main-font-color);
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 10vh;
    min-height: 50px;
    max-height: 70px;
    font-size: 18px;
}

.header-section {
    background: #dddddd;
    width: 85% !important;
    height: 10vh;
    min-height: 50px;
    max-height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em 0 2em;
    /*   margin: 1em; */
    border-radius: 50px;
    position: fixed;
    top: 1em;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


/* #2.1 Header Logo */

.header-section__logo img {
    background-color: #f67e7d;
    width: 5em;
    height: auto;
    max-height: 5em;
}


/* #2.2 Header Nav */

.header-section__nav {
    width: 50%;
    height: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.header-section__nav a {
    color: var(--main-font-color);
    text-decoration: none;
}

.header-section__lang a img {
    width: 1em;
    height: auto;
    max-height: 1em;
}


/* #5 Main Section */

main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/* #3.1 Introductory Section */

.introductory-section {
    background-color: var(--main-palette-color);
    font-family: 'Electrolize', sans-serif;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
}

.introductory-card-title {
    width: auto;
    align-items: left;
}

.introductory-card-title h1 {
    font-size: 03rem;
    text-align: left;
    padding-left: 4rem;
}

.introductory-card-title h2 {
    font-size: 2rem;
    text-align: left;
    padding-left: 4rem;
}

.introductory-card-img {
    object-position: right;
    overflow: hidden;
}

.introductory-card-img img {
    width: 90%;
}


/* #4 About Section */

.about-section {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
}

.about-section-img {
    width: 50%;
    max-width: 50vw;
    height: 100vh;
}

.about-section-img img {
    width: 97%;
    max-width: 50vw;
    height: 100vh;
}

.about-section-text {
    width: 97%;
    max-width: 50vw;
    height: 100vh;
    padding: 2em;
}

.about-section-text h3 {
    font-size: 2rem;
}

footer {
    width: 100vw;
    height: auto;
    background-color: #000;
}